<header>
  <div class="container">
    <div class="rows">
      <p>Welcome to Clicon online eCommerce store.</p>
      <nav>
        <span>Follow us:</span>
        <ul>
          <li><a href="#"><fa-icon [icon]="faTwitter"></fa-icon></a></li>
          <li><a href="#"><fa-icon [icon]="faFacebookF"></fa-icon></a></li>
          <li><a href="#"><fa-icon [icon]="faPinterestP"></fa-icon></a></li>
          <li><a href="#"><fa-icon [icon]="faRedditAlien"></fa-icon></a></li>
          <li><a href="#"><fa-icon [icon]="faYoutube"></fa-icon></a></li>
          <li><a href="#"><fa-icon [icon]="faInstagram"></fa-icon></a></li>
        </ul>
        <form>
          <select name="language ">
            <option value="en" selected>EN</option>
            <option value="ar">AR</option>
          </select>
          <select name="payment ">
            <option value="EG" selected>EG</option>
            <option value="USD" selected>USD</option>
          </select>
        </form>
      </nav>
    </div>
    <div class="rows">
      <figure>
        <div class="icon"></div>
        <figcaption>CLICON</figcaption>
      </figure>
      <form>
        <input type="search" name="search" placeholder="Search for anything...">
        <fa-icon [icon]="faSearch"></fa-icon>
      </form>
      <div class="shoppinginfo">
        <div class="shoppingCart">
          <fa-icon [icon]="faCartShopping"></fa-icon>
          <span>5</span>
        </div>
        <div class="favourit">
          <fa-icon [icon]="faHeart"></fa-icon>
          <span>3</span>
        </div>
        <div class="user">
          <fa-icon [icon]="faUser"></fa-icon>
        </div>
      </div>
    </div>
  </div>
</header>
