$blue:#1B6392;
$blue2:#407CA4;
$light-blue:#2DA5F3;
$orange:#FA8232;
$yellow:#EFD33D;
$red:#EE5858;
$white:white;
$gray:#E5E5E5;
$gray2:#737E83;
$gray3:#F2F4F5;
$gray4:#77878F;
$black:#272A2D;
$black2:#191C1F;
$black3:#303639;
$max-width-mobile:"max-width:767px";
$min-width-small:"min-width:768px";
$max-width-small:"max-width:991px";
$min-width-medium:"min-width:992px";
$max-width-medium:"max-width:1199px";
$max-width-large:"max-width:1200px";
