<footer>
  <div class="container">
    <section>
      <nav class="contactus">
        <figure>
          <div class="icon"></div>
          <figcaption>CLICON</figcaption>
        </figure>
        <div class="support">
          <h6>Customer Supports:</h6>
          <span>(629) 555-0129</span>
        </div>
        <div class="address">
          <p>
            4517 Washington Ave.
            Manchester, Kentucky 39495
          </p>
        </div>
        <div class="email">
          <p>
            {{'info@kinbo.com'}}
          </p>
        </div>
      </nav>
      <nav class="topcatigory">
        <h4>Top Category</h4>
        <ul>
          <li><a href="#">Computer & Laptop</a></li>
          <li><a href="#">SmartPhone</a></li>
          <li><a href="#">Headphone</a></li>
        </ul>
        <h5>Accessories</h5>
        <ul>
          <li><a href="#">Camera & Photo</a></li>
          <li><a href="#">TV & Homes</a></li>
        </ul>
        <a href="#">
          Browse All Product
          <fa-icon [icon]="faArrowRight"></fa-icon>
        </a>
      </nav>
      <nav class="quicklinks">
        <h4>Quick links</h4>
        <ul>
          <li><a href="#">Shop Product</a></li>
          <li><a href="#">Shoping Cart</a></li>
          <li><a href="#">Wishlist</a></li>
          <li><a href="#">Compare</a></li>
          <li><a href="#">Track Order</a></li>
          <li><a href="#">Customer Help</a></li>
          <li><a href="#">About Us</a></li>
        </ul>
      </nav>
      <nav class="dawnloadapp">
        <h4>Download APP</h4>
        <div class="googleplay">
          <a href="#">
            <figure>
              <fa-icon [icon]="faGooglePlay"></fa-icon>
              <figcaption>
                <span>Get it now</span>
                <h5>Google Play</h5>
              </figcaption>
            </figure>
          </a>
        </div>
        <div class="applestore">
          <a href="#">
            <figure>
              <fa-icon [icon]="faApple"></fa-icon>
              <figcaption>
                <span>Get it now</span>
                <h5>Apple Store</h5>
              </figcaption>
            </figure>
          </a>
        </div>
      </nav>
      <nav class="populartag">
        <h4>Popular Tag</h4>
        <ul>
          <li><a href="#">Game</a></li>
          <li><a href="#">iPhone</a></li>
          <li><a href="#">TV</a></li>
          <li><a href="#">Asus Laptops</a></li>
          <li><a href="#">Macbook </a></li>
          <li><a href="#">SSD</a></li>
          <li><a href="#">Graphics Card </a></li>
          <li><a href="#">Power Bank </a></li>
          <li><a href="#">Smart TV</a></li>
          <li><a href="#">Speaker</a></li>
          <li><a href="#">Tablet</a></li>
          <li><a href="#">Microwave</a></li>
          <li><a href="#">Samsung</a></li>
        </ul>
      </nav>
    </section>
    <p>Kinbo - eCommerce Template © 2021. Design by Templatecookie</p>
  </div>
</footer>
