<nav>
  <div class="service">
    <div class="category">
      <span>
        All Category
        <fa-icon [icon]="faChevronDown"></fa-icon>
      </span>
    </div>
    <a href="#">
      <fa-icon [icon]="faMapMarkedAlt"></fa-icon>
      Track Order
    </a>
    <a href="#">
      <fa-icon [icon]="faSyncAlt"></fa-icon>

      Compare
    </a>
    <a href="#">
      <fa-icon [icon]="faHeadset"></fa-icon>
      Customer Support
    </a>
    <a href="#">
      <fa-icon [icon]="faInfoCircle"></fa-icon>
      Need Help
    </a>
  </div>
  <div class="phonenumber">
    <span>
      <fa-icon [icon]="faPhoneAlt"></fa-icon>
      +1-202-555-0104
    </span>
  </div>
</nav>
